<h1>Feedback Summary</h1>
<table>
  <thead>
    <tr>
      <th>Participant Name</th>
      <th>Feedback</th>
    </tr>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.name %></td>
        <td>
          <% if participant.feedback_link.present? %>
            <%= participant.feedback_link.feedback %>
          <% else %>
            No feedback submitted
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Participants list', participants_path %>