<h1>Workshop Feedback</h1>
<p>Dear <%= @participant.name %>,</p>
<p>Please click the link below to provide feedback for the workshop:</p>
<p><%= link_to 'Submit Feedback', @feedback_link_url %></p>
<p>This link will expire in 2 weeks.</p>
